.layout-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .layout-main {
    flex: 1;
    width: 100%;
  }

  .layout-container {
    width: 100%;
    max-width: 80rem; /* 1280px - same as max-w-7xl */
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .layout-footer {
    padding: 1rem;
  }

  @media screen and (min-width: 640px) {
    .layout-container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .layout-container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  